{% extends 'base-admin.html' %}
<!--Heredar lo que tiene el archivo base.html-->
{% load static %}
{% block content%}
<div class="content__CtrlProductos">
  <h3 class="title">Control de Productos</h3>
  <button class="btn btn-success newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalProductos">Nuevo Producto</button>
  <div class="modal-productos">
    <div class="modal fade" id="modalProductos" aria-hidden="true" aria-labelledby="modalProductosLabel" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalProductosLabel">Control de <br/><strong>Productos</strong></h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="content-form">
              <form  method="POST" action="{% url 'create_producto' %}" enctype="multipart/form-data">
                {% csrf_token %} 
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Ingrese la clave del producto" type="number" name="clave" maxlength="4" aria-describedby="emailHelp" id="clave1"/>
                  <label class="form-label" for="clave1">Clave</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" type="text" name="nombre_producto" maxlength="100" aria-describedby="emailHelp" placeholder="Ingrese nommbre del producto" id="nombreProducto1"/>
                  <label class="form-label" for="nombreProducto1">Nombre del producto</label>
                </div>
                <div class="form-group mb-3">
                  <label class="form-label" for="nombreCategoria1">Categoría</label>
                  <select class="form-control form-control-lg form-select" name="id_categoria" aria-describedby="emailHelp" placeholder="" id="nombreCategoria1">
                      <option value="1">Semáforos</option>
                      <option value="2">Postes</option>
                      <option value="3">Señalamientos</option>
                      <option value="4">Complementos Viales</option>
                      <option value="5">Servicios de diseño</option>
                  </select>
              </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" type="text" name="id_subcategoria" maxlength="20" aria-describedby="emailHelp" placeholder="Ingrese nombre de subcategoria" id="nombreSubcategoria2"/>
                  <label class="form-label" for="nombreSubcategoria2">Nombre de la subcategoría</label>
                </div>
                <div class="mb-3">
                  <label class="form-label" id="formFile" for="imagen1">Imagen</label>
                  <input class="form-control form-control-lg" type="file" name="imagen" aria-describedby="emailHelp" placeholder="Ingrese la imagen del producto" id="imagen1"/>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control form-control-lg" type="text" name="extract" aria-describedby="emailHelp" placeholder="Ingrese el extract del producto" id="extract1"></textarea>
                  <label class="form-label" for="extract1">Extracto</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control form-control-lg" type="text" name="descripcion" aria-describedby="emailHelp" placeholder="Ingrese la descripción del producto" id="descripcion1"></textarea>
                  <label class="form-label" for="descripcion1">Descripción</label>
                </div>
                {% if messages %}
                <div class="row">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="modal-body__buttons"> 
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Enviar</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Solicitud </h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Cotización realizada con exito!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content__CtrlProductos-body">
    <table class="display" id="myTable" cellspacing="0" width="100%">
      <thead>
        <tr></tr>
        <th>ID</th>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Ver/Editar</th>
        <th>Eliminar</th>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr id="fila_id_{{ producto.id_producto }}">
          <td>{{ producto.id_producto}}</td>
          <td>{{ producto.clave}}</td>
          <td>{{ producto.nombre_producto}}</td>
          <td>{{producto.id_categoria.nombre_categoria }}</td>
          <td>Semáforo Vehicular</td>
          <td> <a href="{% url 'editar_producto' producto.id_producto %}" data-id="{{producto.id_producto }}"  data-bs-toggle="modal" data-bs-target="#modalEditar" title="Modificar"> <i class="bi bi-pencil-square"></i></a></td>
          <td> <a href="{% url 'eliminar_producto' producto.id_producto %}" data-id="{{producto.id_producto }}" data-bs-toggle="modal" data-bs-target="#modalEliminar" title="Eliminar"> <i class="bi bi-trash3-fill"></i></a></td>
        </tr>
        {% endfor %}
            <div class="modal-producto">
              <div class="modal fade" id="modalEditar" aria-hidden="true" aria-labelledby="modalEditarLabel" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalEditarLabel">Modificar <br/><strong>Producto</strong></h5>
                      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="content-form">
                        <form  method="POST" id="editarPdroductoForm" action="#" enctype="multipart/form-data">
                          {% csrf_token %} 
                          <div class="form-floating mb-3">
                            <input class="form-control form-control-lg" placeholder="Ingrese la clave del producto" type="number" name="clave" maxlength="4" aria-describedby="emailHelp" id="clave2"/>
                            <label class="form-label" for="clave2">Clave</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input class="form-control form-control-lg" type="text" name="nombre_producto" maxlength="100" aria-describedby="emailHelp" placeholder="Ingrese nommbre del producto" id="nombreProducto2"/>
                            <label class="form-label" for="nombreProducto2">Nombre del producto</label>
                          </div>
                          <div class="form-group mb-3">
                            <label class="form-label" for="nombreCategoria2">Categoría</label>
                            <select class="form-control form-control-lg form-select" name="id_categoria" aria-describedby="emailHelp" placeholder="" id="nombreCategoria2">
                                <option value="1">Semáforos</option>
                                <option value="2">Postes</option>
                                <option value="3">Señalamientos</option>
                                <option value="4">Complementos Viales</option>
                                <option value="5">Servicios de diseño</option>
                            </select>
                        </div>
                        
                          <div class="form-floating mb-3">
                            <input class="form-control form-control-lg" type="text" name="nombre_subcategoria" maxlength="20" aria-describedby="emailHelp" placeholder="Ingrese nombre de subcategoria" id="nombreSubcategoria2"/>
                            <label class="form-label" for="nombreSubcategoria2">Nombre de la subcategoría</label>
                          </div>
                          <!-- Mostrar la vista previa de la imagen -->
                          <div class="mb-3">
                            <label for="imagen2">Imagen actual del producto:</label><br>
                            <img id="imagen-preview" src="" alt="Vista previa de la imagen" class="imagen-modal">
                          <div class="mb-3">
                            <label class="form-label" id="formFile" for="imagen2">Cambiar la imagen del producto</label>
                            <input class="form-control form-control-lg" type="file" name="imagen" accept="image/png, image/gif, image/jpeg" aria-describedby="emailHelp" placeholder="Ingrese la imagen del producto" id="imagen2"/>
                          </div>
                          <div class="form-floating mb-3">
                            <textarea class="form-control form-control-lg" type="text" name="extract" aria-describedby="emailHelp" placeholder="Ingrese el extract del producto" id="extract2"></textarea>
                            <label class="form-label" for="extract2">Extracto</label>
                          </div>
                          <div class="form-floating mb-3">
                            <textarea class="form-control form-control-lg" type="text" name="descripcion" aria-describedby="emailHelp" placeholder="Ingrese la descripción del producto" id="descripcion2"></textarea>
                            <label class="form-label" for="descripcion2">Descripción</label>
                          </div>
                      </div>
                      <div class="modal-body__buttons"> 
                        <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar cambios</button>
                      </div>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="modalEliminar" aria-hidden="true" aria-labelledby="modalEliminarLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarModalLabel">Eliminar</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">¿Estas seguro que desdeas eliminar?</div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#modalEliminar" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
                    <button  id="confirmarEliminar" class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          
      </tbody>
      <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
  
            $('a[data-bs-toggle="modal"]').on('click', function () {
                var targetModalId = $(this).data('bs-target');
                var id_producto = $(this).data('id');
                console.log('ID del producto:', id_producto);
  
                // Verificar si es el modal de eliminación
                if (targetModalId === '#modalEliminar') {
                    // Actualizar el ID en el botón de eliminación
                    $('#confirmarEliminar').data('id', id_producto);
                } else {
                    // AJAX para cargar información del registro en el modal de edición
                    $.ajax({
                        url: '{% url "editar_producto" id_producto=0 %}'.replace('0', id_producto),
                        type: 'GET',
                        data: { 'id_producto': id_producto },
                        success: function (data) {
                            console.log('Datos cargados:', data);
                            // campos del formulario con los datos del producto
                            $('#editarPdroductoForm').attr('action',  '{% url "editar_producto" id_producto=0 %}'.replace('0', id_producto)),
                            $('#clave2').val(data.clave);
                            $('#nombreProducto2').val(data.nombre_producto);
                            $('#imagen2').val(data.imagen);
                            $('#extract2').val(data.extract);
                            $('#descripcion2').val(data.descripcion);
                              // Actualiza la vista previa de la imagen
                            $('#imagen-preview').attr('src', 'data:image/png;base64,' + data.imagen_base64);
                            $('#nombreCategoria2').val(data.id_categoria);
                            //console.log(data.id_categoria)
                            //console.log('Tipo de datos de data.id_categoria:', typeof data.id_categoria);
                            //console.log('Valor de data.id_categoria:', data.id_categoria);




                            // Muestra el modal
                            $('#modalEditar').modal('show');
                            },
                        error: function (xhr, status, error) {
                            console.error('Error al cargar la información del registro:', error);
                            alert('Error al cargar la información del registro.');
                        }
                    });
                }
            });
  
                    // Manejar clic en el botón de eliminación
          $('#confirmarEliminar').on('click', function () {
              var id_producto = $(this).data('id');
              console.log('ID del producto a eliminar:', id_producto);  // Agregar este console.log
              if (id_producto!== undefined) {
                $.ajax({
                  url: '{% url "eliminar_producto" id_producto=0 %}'.replace('0', id_producto),
                  type: 'POST',
                  dataType: 'json',
                  data:  { 'id_producto': id_producto },
                  success: function (response) {
                      console.log('Respuesta del servidor:', response);
                      alert('Registro eliminado correctamente');
                      // Cerrar el modal después de la eliminación
                      $('#modalEliminar').modal('hide');
                      // Recargar la página después de la eliminación
                      //location.reload();
                       // Eliminar la fila correspondiente de la tabla
                      var table = $('#myTable').DataTable();
                      table.row('#fila_id_' + id_producto).remove().draw();
                  },
                  error: function (xhr, status, error) {
                      console.error('Error al eliminar el registro:', error);
                      alert('Error al eliminar el registro.');
                  }
                });
  
              } else {
                  console.error('ID de cotización no definido al intentar eliminar el registro.');
                  alert('Error al eliminar el registro: ID no definido.');
              }
          });
  
        });
    </script>
  </table>
  </div>
</div>
    {% endblock%}