{% extends 'base-admin.html' %}
<!--Heredar lo que tiene el archivo base.html-->
{% load static %}
{% block content%}
<div class="content__CtrlProductos">
  <h3 class="title">Control de Productos</h3>
  <button class="btn btn-success newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalProductos">Nuevo Producto</button>
  <div class="modal-productos">
    <div class="modal fade" id="modalProductos" aria-hidden="true" aria-labelledby="modalProductosLabel" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalProductosLabel">Control de <br/><strong>Productos</strong></h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="content-form">
              <form id="ProductoForm" method="POST" action="{% url 'create_producto' %}" enctype="multipart/form-data">
                {% csrf_token %} 
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Ingrese la clave del producto" type="number" name="clave" maxlength="4" aria-describedby="emailHelp" id="clave1"/>
                  <label class="form-label" for="clave1">Clave</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" type="text" name="nombre_producto" maxlength="100" aria-describedby="emailHelp" placeholder="Ingrese nommbre del producto" id="nombreProducto1"/>
                  <label class="form-label" for="nombreProducto1">Nombre del producto</label>
                </div>
                <div class="form-group mb-3">
                  <label class="form-label" for="nombreCategoria1">Categoría</label>
                  <select class="form-control form-control-lg form-select" name="id_categoria" aria-describedby="emailHelp" placeholder="" id="nombreCategoria1">
                      <option value="1">Semáforos</option>
                      <option value="2">Postes</option>
                      <option value="3">Señalamientos</option>
                      <option value="4">Complementos Viales</option>
                      <option value="5">Servicios de diseño</option>
                  </select>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="nombreSubcategoria1">Subcategoría</label>
                <select class="form-control form-control-lg form-select" name="id_subcategoria" aria-describedby="emailHelp" placeholder="" id="nombreSubcategoria1">
                    <!-- Las opciones se llenarán dinámicamente con JavaScript -->
                </select>
            </div>
                <div class="mb-3">
                  <label class="form-label" id="formFile" for="imagen1">Imagen</label>
                  <input class="form-control form-control-lg" type="file" name="imagen" aria-describedby="emailHelp" placeholder="Ingrese la imagen del producto" id="imagen1"/>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control form-control-lg" type="text" name="extract" aria-describedby="emailHelp" placeholder="Ingrese el extract del producto" maxlength="50" id="extract1"></textarea>
                  <label class="form-label" for="extract1">Extracto</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control form-control-lg" type="text" name="descripcion" aria-describedby="emailHelp" placeholder="Ingrese la descripción del producto" maxlength="200" id="descripcion1"></textarea>
                  <label class="form-label" for="descripcion1">Descripción</label>
                </div>
                 <!-- Alert container for validation messages -->
                 <div id="alert-container"></div>
                 <!-- Alert for general form error -->
                 {% if form.errors %}
                 <div class="alert alert-danger" role="alert">
                   <strong>Error:</strong> Por favor, revise los siguientes campos.
                 </div>
                 {% endif %}
            </div>
            <div class="modal-body__buttons"> 
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" type="button" onclick="validarYEnviar()">Guardar</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Solicitud </h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Producto agregado con exito!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
              data-bs-dismiss="modal">Cerrar</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content__CtrlProductos-body">
    <table class="display" id="myTable" cellspacing="0" width="100%">
      <thead>
        <tr></tr>
        <th>ID</th>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Ver/Editar</th>
        <th>Eliminar</th>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr id="fila_id_{{ producto.id_producto }}">
          <td>{{ producto.id_producto}}</td>
          <td>{{ producto.clave}}</td>
          <td>{{ producto.nombre_producto}}</td>
          <td>{{producto.id_categoria.nombre_categoria }}</td>
          <td>{{producto.id_subcategoria.nombre_subcategoria}}</td>
          <td> <a href="{% url 'editar_producto' producto.id_producto %}" data-id="{{producto.id_producto }}"  data-bs-toggle="modal" data-bs-target="#modalEditar" title="Modificar"> <i class="bi bi-pencil-fill"></i></a></td>
          <td> <a href="{% url 'eliminar_producto' producto.id_producto %}" data-id="{{producto.id_producto }}" data-bs-toggle="modal" data-bs-target="#modalEliminar" title="Eliminar"><i class="bi bi-trash-fill"></i></a></td>
        </tr>
        {% endfor %}
            <div class="modal-producto">
              <div class="modal fade" id="modalEditar" aria-hidden="true" aria-labelledby="modalEditarLabel" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalEditarLabel">Modificar <br/><strong>Producto</strong></h5>
                      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="content-form">
                        <form  method="POST" id="editarPdroductoForm" action="#" enctype="multipart/form-data">
                          {% csrf_token %} 
                          <div class="form-floating mb-3">
                            <input class="form-control form-control-lg" placeholder="Ingrese la clave del producto" type="number" name="clave" maxlength="4"  aria-describedby="emailHelp" id="clave2"/>
                            <label class="form-label" for="clave2">Clave</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input class="form-control form-control-lg" type="text" name="nombre_producto" maxlength="50" aria-describedby="emailHelp" placeholder="Ingrese nommbre del producto" id="nombreProducto2"/>
                            <label class="form-label" for="nombreProducto2">Nombre del producto</label>
                          </div>
                          <div class="form-group mb-3">
                            <label class="form-label" for="nombreCategoria2">Categoría</label>
                            <select class="form-control form-control-lg form-select" name="id_categoria" aria-describedby="emailHelp" placeholder="" id="nombreCategoria2">
                                <option value="1">Semáforos</option>
                                <option value="2">Postes</option>
                                <option value="3">Señalamientos</option>
                                <option value="4">Complementos Viales</option>
                                <option value="5">Servicios de diseño</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                          <label class="form-label" for="nombreSubcategoria2">Subcategoría</label>
                          <select class="form-control form-control-lg form-select" name="id_subcategoria" aria-describedby="emailHelp" placeholder="" id="nombreSubcategoria2">
                              <!-- Las opciones se llenarán dinámicamente con JavaScript -->
                          </select>
                      </div>
                      
                          <!-- Mostrar la vista previa de la imagen -->
                          <div class="mb-3">
                            <label for="imagen2">Imagen actual del producto:</label><br>
                            <img id="imagen-preview" src="" alt="Vista previa de la imagen" class="imagen-modal">
                          <div class="mb-3">
                            <label class="form-label" id="formFile" for="imagen2">Cambiar la imagen del producto</label>
                            <input class="form-control form-control-lg" type="file" name="imagen" accept="image/png, image/gif, image/jpeg" aria-describedby="emailHelp" placeholder="Ingrese la imagen del producto" id="imagen2"/>
                          </div>
                          <div class="form-floating mb-3">
                            <textarea class="form-control form-control-lg" type="text" name="extract" aria-describedby="emailHelp" placeholder="Ingrese el extract del producto" id="extract2"></textarea>
                            <label class="form-label" for="extract2">Extracto</label>
                          </div>
                          <div class="form-floating mb-3">
                            <textarea class="form-control form-control-lg" type="text" name="descripcion" aria-describedby="emailHelp" placeholder="Ingrese la descripción del producto" id="descripcion2"></textarea>
                            <label class="form-label" for="descripcion2">Descripción</label>
                          </div>
                      
                         </div>
                      <div class="modal-body__buttons"> 
                        <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar cambios</button>
                      </div>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="modalEliminar" aria-hidden="true" aria-labelledby="modalEliminarLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarModalLabel">Eliminar</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">¿Estas seguro que desdeas eliminar?</div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#modalEliminar" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
                    <button  id="confirmarEliminar" class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          
      </tbody>
      <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
  
            $('a[data-bs-toggle="modal"]').on('click', function () {
                var targetModalId = $(this).data('bs-target');
                var id_producto = $(this).data('id');
               // console.log('ID del producto:', id_producto);
  
                // Verificar si es el modal de eliminación
                if (targetModalId === '#modalEliminar') {
                    // Actualizar el ID en el botón de eliminación
                    $('#confirmarEliminar').data('id', id_producto);
                } else {
                    // AJAX para cargar información del registro en el modal de edición
                    $.ajax({
                        url: '{% url "editar_producto" id_producto=0 %}'.replace('0', id_producto),
                        type: 'GET',
                        data: { 'id_producto': id_producto },
                        success: function (data) {
                            //console.log('Datos cargados:', data);
                            // campos del formulario con los datos del producto
                            $('#editarPdroductoForm').attr('action',  '{% url "editar_producto" id_producto=0 %}'.replace('0', id_producto)),
                            $('#clave2').val(data.clave);
                            $('#nombreProducto2').val(data.nombre_producto);
                            $('#imagen2').val(data.imagen);
                            $('#extract2').val(data.extract);
                            $('#descripcion2').val(data.descripcion);
                              // Actualiza la vista previa de la imagen
                            $('#imagen-preview').attr('src', 'data:image/png;base64,' + data.imagen_base64);
                            $('#nombreCategoria2').val(data.id_categoria);
                            $('#nombreSubcategoria2').val(data.id_subcategoria);
                            //console.log(data.id_subcategoria)
                            //console.log('Tipo de datos de data.id_subcategoria:', typeof data.id_subcategoria);
                            //console.log('Valor de data.id_subcategoria:', data.id_subcategoria);
                            // Llenar subcategorías al abrir el modal de edición
                            var idCategoria = $('#nombreCategoria2').val();
                            var selectSubcategorias = $('#nombreSubcategoria2');
                            llenarSubcategorias(idCategoria, selectSubcategorias);
                            // Muestra el modal
                            //$('#modalEditar').modal('show');
                            $('#modalEditar').on('show.bs.modal', function () {
                                // Resto del código...
                                
                                // Llenar subcategorías al abrir el modal de edición
                                var idCategoria = $('#nombreCategoria2').val();
                                var selectSubcategorias = $('#nombreSubcategoria2');
                                llenarSubcategorias(idCategoria, selectSubcategorias);
                            });
                            },
                        error: function (xhr, status, error) {
                            console.error('Error al cargar la información del registro:', error);
                            alert('Error al cargar la información del registro.');
                        }
                    });
                }
            });
  
                    // Manejar clic en el botón de eliminación
          $('#confirmarEliminar').on('click', function () {
              var id_producto = $(this).data('id');
              console.log('ID del producto a eliminar:', id_producto);  // Agregar este console.log
              if (id_producto!== undefined) {
                $.ajax({
                  url: '{% url "eliminar_producto" id_producto=0 %}'.replace('0', id_producto),
                  type: 'POST',
                  dataType: 'json',
                  data:  { 'id_producto': id_producto },
                  success: function (response) {
                      console.log('Respuesta del servidor:', response);
                      alert('Registro eliminado correctamente');
                      // Cerrar el modal después de la eliminación
                      $('#modalEliminar').modal('hide');
                      // Recargar la página después de la eliminación
                      //location.reload();
                       // Eliminar la fila correspondiente de la tabla
                      var table = $('#myTable').DataTable();
                      table.row('#fila_id_' + id_producto).remove().draw();
                  },
                  error: function (xhr, status, error) {
                      console.error('Error al eliminar el registro:', error);
                      alert('Error al eliminar el registro.');
                  }
                });
  
              } else {
                  console.error('ID de cotización no definido al intentar eliminar el registro.');
                  alert('Error al eliminar el registro: ID no definido.');
              }
          });
          // Función para llenar el select de subcategorías
        function llenarSubcategorias(idCategoria, selectSubcategorias) {
            $.ajax({
                url: 'http://127.0.0.1:8000/control-productos/obtener_subcategorias/',
                type: 'GET',
                data: { 'id_categoria': idCategoria },
                success: function (data) {
                   // console.log('Subcategorías cargadas:', data);

                    if (data !== undefined) {
                        // Limpia las opciones existentes en el select
                        selectSubcategorias.empty();

                        // Agrega las nuevas opciones basadas en la respuesta del servidor
                        for (var i = 0; i < data.length; i++) {
                            selectSubcategorias.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
                        }
                    } else {
                        console.error('El array de subcategorías no está definido en la respuesta.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar subcategorías:', error);
                    alert('Error al cargar subcategorías.');
                }
            });
        }

        // Evento al abrir el modal de agregar
        $('#modalAgregar').on('show.bs.modal', function () {
            // Llenar subcategorías al abrir el modal de agregar
            var idCategoria = $('#nombreCategoria1').val(); // Obtener el valor de la categoría seleccionada
            var selectSubcategorias = $('#nombreSubcategoria1'); // Seleccionar el elemento select de subcategorías
            llenarSubcategorias(idCategoria, selectSubcategorias);
        });

        // cambiar la categoría en el formulario de agregar
        $('#nombreCategoria1').change(function () {
            var idCategoria = $(this).val();
            var selectSubcategorias = $('#nombreSubcategoria1');
            llenarSubcategorias(idCategoria, selectSubcategorias);
        });
        });
         //Muestra el alerta debajo del formulario  ya sea de errores o de exito
         function mostrarAlerta(tipo, mensajes, containerId) {
          var alerta = document.createElement('div');
          alerta.className = 'alert alert-' + tipo + ' alert-dismissible fade show';

          mensajes.forEach(function (mensaje) {
            alerta.innerHTML += mensaje + '<br>';
          });

          document.getElementById(containerId).appendChild(alerta);
        }

        function validarYEnviar() {
          $('#alert-container').empty();
          // Array para almacenar mensajes de error durante la validación
          var errores = [];
          // Obtiene el valor del campo del fromulario
          var clave = document.getElementById('clave1').value;
          var nombreProducto = document.getElementById('nombreProducto1').value;
          var extract= document.getElementById('extract1').value;
          var descripcion= document.getElementById('descripcion1').value;
          //Validación para los campos
          if (!/^\d{1,4}$/.test(clave)) {
            errores.push('La clave del producto solo puede contener como máximo 4 dígitos.');
          }
          if (!/^[a-zA-Z\sñáéíóúüÁÉÍÓÚÜ]+$/.test(nombreProducto)) {
            errores.push('El nombre del producto puede contener solo letras, espacios, ñ y acentos.');
          }
          if (!/^[\w\sñáéíóúüÁÉÍÓÚÜ.,]+(?:\.\d+)?$/.test(extract)) {
            errores.push('El extracto puede contener letras, espacios, ñ, acentos, números.');
          }
          if (!/^[\w\sñáéíóúüÁÉÍÓÚÜ.,]+(?:\.\d+)?$/.test(descripcion)) {
            errores.push('La descripción puede contener letras, espacios, ñ, acentos, números.');
          }
          //Verifica si hay errores en las validaciones 
          if (errores.length > 0) {
            //Muestra los errores tipo alerta debajo del formulario
            mostrarAlerta('danger', errores, 'alert-container');
          } else {
            //si no hay errrores envia los datos al formulario y muestra mensaje de éxito  document.getElementById('SubcategoriaForm').submit();
            // mostrarAlerta('success', ['Formulario enviado con éxito'], 'alert-container');
              // Crear un objeto FormData que contiene los datos del formulario
            var formData = new FormData($('#ProductoForm')[0]);
            $.ajax({
              url: '{%url "create_producto"%}',
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              success: function (response) {
                // Handle the success response
                mostrarAlerta('success', ['Producto agregado con éxito'], 'alert-container');
                // Cerrar el primer modal después de enviar el formulario
                $('#modalProductos').modal('hide')
                // Mostrar el segundo modal después de enviar el formulario
                  $('#exampleModalToggle2').modal('show');
                // Esperar a que el segundo modal se cierre
                $('#exampleModalToggle2').on('hidden.bs.modal', function () {
                  // Recargar la página
                  location.reload();
                });

              },
              error: function (xhr, status, error) {
                // Handle the error response
                console.error('Error al enviar el formulario:', error);
                alert('Error al enviar el formulario.');
              }
            });
          }
        }
    </script>
    
  </table>
  </div>
</div>
    {% endblock%}