{% extends 'base-admin.html' %}
<!--Heredar lo que tiene el archivo base.html-->
{% load static %}
{% block content%}
<div class="content__CtrlCotizaciones">
  <h3 class="title">Solicitudes de cotizaciones</h3>
  <div class="content__CtrlCotizaciones-body">
    <table class="display" id="myTable" cellspacing="0" width="100%">
      <thead>
        <th>ID</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Estatus</th>
        <th>Ver/Editar</th>
        <th>Eliminar</th>
        
      </thead>
      <tbody>
        <!--Información de la tabla que se llena dinamicamente-->
        {% for cotizacion in cotizaciones%}  <!--En cada iteracíon del bucle, la variale cotizacion toma el valor de de un registro de la lista
           y se puede acceder a las propiedades del objeto -->
        <tr>
          <td>{{cotizacion.id_cotizacion}}</td>
          <td>{{cotizacion.nombre_cliente}}</td>
          <td>{{cotizacion.fecha}}</td>
          <td>{{cotizacion.estatus}}</td>
          <!--Enlaces que permiten acceder a las acciones de modificar y elminar-->
          <td> <a href="{% url 'editar_cotizacion' cotizacion.id_cotizacion %}" data-bs-toggle="modal"
              data-id="{{ cotizacion.id_cotizacion }}" data-bs-target="#modalEditar" title="Modificar"><i
                class="bi bi-pencil-fill"></i></i></a></td>
          <td> <a href="{% url 'eliminar_cotizacion' cotizacion.id_cotizacion %}" data-bs-toggle="modal"
              data-bs-target="#modalEliminar" data-id="{{ cotizacion.id_cotizacion }}" title="Eliminar"> <i
                class="bi bi-trash-fill"></i></a></td>
        </tr>
        {% endfor %}
        <!--Modal que carga la información de la solicitud de cotización-->
        <div class="modal-cotizacion">
          <div class="modal fade" id="modalEditar" aria-hidden="true" aria-labelledby="modalEditarLabel" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header modal-header-unico">
                  <h5 class="modal-title" id="modalEditarLabel">SOLICITUD DE <br /><strong>COTIZACIÓN</strong></h5>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div id="modalContent">
                    <div class="content-form">
                      <form action="#" method="POST">
                        {% csrf_token %}
                        <!-- Campo oculto para almacenar el ID de la cotización, sirve para poder cambiar el estatus de la cotización-->
                        <input type="hidden" name="id_cotizacion" id="id_cotizacion"
                          value="{{ cotizacion.id_cotizacion }}">
                          <!--Campos del formulario-->
                        <div class="form-floating mb-3">
                          <input class="form-control form-control-lg" placeholder="Ingrese su nombre completo"
                            type="text" name="nombre_cliente" aria-describedby="emailHelp" maxlength="50"
                            required="required" id="nombreCliente" />
                          <label for="nombreCliente">Nombre Completo</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input class="form-control form-control-lg" type="tel" name="telefono" maxlength="10"
                            aria-describedby="emailHelp" required="required" placeholder="Ingrese su télefono"
                            id="telefono1" />
                          <label for="telefono1">Teléfono a 10 dígitos</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input class="form-control form-control-lg" type="email" name="email"
                            aria-describedby="emailHelp" placeholder="Email válido" id="email1" />
                          <label for="email1">Email </label>
                        </div>
                        <div class="form-floating mb-3">
                          <input class="form-control form-control-lg" type="text" name="nombre_empresa"
                            aria-describedby="emailHelp" maxlength="50" placeholder="Nombre de la empresa"
                            id="nombreEmpresa" />
                          <label for="nombreEmpresa">Nombre de la empresa</label>
                        </div>
                        <div class="form-floating mb-3">
                          <textarea class="form-control form-control-lg" type="text" name="mensaje"
                            aria-describedby="emailHelp" maxlength="200" placeholder="Ingrese su mensaje"
                            id="mensaje1"></textarea>
                          <label for="mensaje1">Mensaje</label>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-body__buttons">
                    <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button class="btn btn-success" id="btnAtender">Atenida</button> <!--se e declara un id al botón para poder realizar las acciones de cambiar el estatus de la cotización-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="modal fade" id="modalEliminar" aria-hidden="true" aria-labelledby="modalEliminarLabel"
          tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarModalLabel">Eliminar</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">¿Estas seguro que desdeas eliminar?</div>
              <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#modalEliminar" data-bs-toggle="modal"
                  data-bs-dismiss="modal">Cancelar</button>
                <button id="confirmarEliminar" class="btn btn-secondary" type="button"
                  data-bs-dismiss="modal">Aceptar</button><!--El botón tiene un id para poder hacer las acciones para elminar el registro-->
              </div>
            </div>
          </div>
        </div>
        </td>
        </tr>
      </tbody>
    </table>
    <script>
      $(document).ready(function () {
        $('#myTable').DataTable();
        //Permite manejar el clic en los enlaces que abren los modales
        $('a[data-bs-toggle="modal"]').on('click', function () {
          //obtencion de los id del modal y de la cotización
          var targetModalId = $(this).data('bs-target');
          var id_cotizacion = $(this).data('id');
          //Cómo pruebas se utiliza el console.log  para ver si se estan mandando
          //adecuadamente los id de la cotizacion, ayudan a resolver problemas
          //console.log('ID de cotización:', id_cotizacion);
          // Verificar si es el modal de eliminación
          if (targetModalId === '#modalEliminar') {
            // Actualizar el ID en el botón de eliminación
            $('#confirmarEliminar').data('id', id_cotizacion);
          } else {
            // Configurar el ID en el campo oculto del modal de edición, funciona para cambiar el estatus de la cotizacion
            $('#id_cotizacion').val(id_cotizacion);
            // AJAX para cargar información del registro en el modal de edición, mismo que funcionara 
            $.ajax({
              url: '{% url "editar_cotizacion" id_cotizacion=0 %}'.replace('0', id_cotizacion),
              type: 'GET',
              success: function (data) {
                console.log('Datos cargados:', data);
                // Llena los campos del formulario con los datos de la cotización
                $('#nombreCliente').val(data.nombre_cliente);
                $('#telefono1').val(data.telefono);
                $('#email1').val(data.email);
                $('#nombreEmpresa').val(data.nombre_empresa);
                $('#mensaje1').val(data.mensaje);
              },
              error: function (xhr, status, error) {
                console.error('Error al cargar la información del registro:', error);
                alert('Error al cargar la información del registro.');
              }
            });
          }
        });
        // Manejar clic en el botón de eliminación
        $('#confirmarEliminar').on('click', function () {
          var id_cotizacion = $(this).data('id');
          if (id_cotizacion !== undefined) {
            //Ajax que permite la eliminacion del registro
            $.ajax({
              url: '{% url "eliminar_cotizacion" id_cotizacion=0 %}'.replace('0', id_cotizacion),
              type: 'POST',
              dataType: 'json',
              data: {
                'id_cotizacion': id_cotizacion
              },
              success: function (response) {
                console.log('Respuesta del servidor:', response);
                alert('Registro eliminado correctamente');
                // Cerrar el modal después de la eliminación
                $('#modalEliminar').modal('hide');
                // Recargar la página después de la eliminación
                location.reload();
                // Eliminar la fila correspondiente de la tabla
                //var table = $('#myTable').DataTable();
                // table.row('#fila_id_' + id_subcategoria).remove().draw();
              },
              error: function (xhr, status, error) {
                console.error('Error al eliminar el registro:', error);
                alert('Error al eliminar el registro.');
              }
            });

          } else {
            console.error('ID de cotización no definido al intentar eliminar el registro.');
            alert('Error al eliminar el registro: ID no definido.');
          }
        });

        // Manejar clic en el botón "Atender"
        $('#btnAtender').on('click', function () {
          var id_cotizacion = $('#id_cotizacion').val();

          if (id_cotizacion !== undefined && id_cotizacion !== '') {
            //Ajax para atender la cotización
            $.ajax({
              url: '{% url "atender_cotizacion" id_cotizacion=0 %}'.replace('0', id_cotizacion),
              type: 'POST',
              dataType: 'json',
              data: {
                'id_cotizacion': id_cotizacion
              },
              success: function (response) {
                console.log('Respuesta del servidor:', response);
                alert('Cotización atendida correctamente');
                // Recargar la tabla DataTables después de atender la cotización
                //var table = $('#myTable').DataTable();
                location.reload();
                //table.ajax.reload();
              },
              error: function (xhr, status, error) {
                console.error('Error al atender la cotización:', error);
                alert('Error al atender la cotización.');
              }
            });
          } else {
            console.error('ID de cotización no definido al intentar atender la cotización.');
            alert('Error al atender la cotización: ID no definido.');
          }
        });
      });
    </script>

  </div>
</div>
{% endblock%}