{% extends 'base.html' %}<!--Heredar lo que tiene el archivo base.html-->
{% load static %}
{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% block content%}

    <div class="slideCotizarGral slide">
      <div class="slide__box">
        <p>¿Tienes dudas o <strong>requieres una cotización?</strong></p>
        <p> <strong>¡ESCRÍBENOS!</strong></p>
      </div>
    </div>
    <div class="content ContentCotizacionGral">
      <div class="titulo">Llena este pequeño formulario, será un placer atenderte.</div>
      <div class="content-form content-formContacto">
        <h3 class="content-formContacto-title">Datos del contacto</h3>
        
          <form method="POST" action="{% url 'save' %}">
            {% csrf_token %} 
            <div class="form-floating mb-3">
                <input class="form-control form-control-lg" placeholder="Ingrese su nombre completo" type="text" name="nombre_cliente" aria-describedby="emailHelp" maxlength="40" required="required" id="nombreCliente"/>
                <label for="nombreCliente">Nombre Completo</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control form-control-lg" type="tel" name="telefono" maxlength="10" aria-describedby="emailHelp" required="required" placeholder="Ingrese su télefono" id="telefono1"/>
                <label for="telefono1">Teléfono a 10 dígitos</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control form-control-lg" type="email" name="email" aria-describedby="emailHelp" placeholder="Email válido" id="email1"/>
                <label for="email1">Email </label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control form-control-lg" type="text" name="nombre_empresa" aria-describedby="emailHelp" placeholder="Nombre de la empresa" id="nombreEmpresa"/>
                <label for="nombreEmpresa">Nombre de la empresa</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control form-control-lg" type="text" name="mensaje" aria-describedby="emailHelp" placeholder="Ingrese su mensaje" id="mensaje1"></textarea>
                <label for="mensaje1">Mensaje</label>
            </div>
            <button type="submit" class="btn btn-dark btn-lg" >Enviar</button>
        </form>
      
        {% if form.errors %}
          <ul class="errorlist">
            {% for field, error_list in form.errors.items %}
              {% for error in error_list %}
                <li>{{ field }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}

      </div>
      
    </div>
{% endblock %}