{% extends 'base.html' %}
{% load static %}
{% block content%} 
{% load custom_filters %}
    <div class="slideComplementos slide">
      <div class="slide__box">
        <p>CATÁLOGO DE  </p>
        <p>COMPLEMENTOS <br/> <strong>VIALES</strong></p>
        <div class="slide__box__link">
          <a href="{% url 'create_cotizacion' %}">
              <button class="slide-btn-cotizar floating" type="button">
                  Solicitar una cotización
              </button>
          </a>
      </div>
      <!--Dropdown con enlace que muestra menú de las categorías-->
      </div>
    </div>
    <div class="link-categorias">
      <p>Consulta otra categoría</p>
      <div class="dropdown"><a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'semaforos' %}">Semáforos</a><a class="dropdown-item" href="{% url 'postes' %}">Postes</a><a class="dropdown-item" href="{% url 'senalamientos' %}">Señalamientos</a><a class="dropdown-item" href="{% url 'complementos' %}">Complementos viales</a><a class="dropdown-item" href="{% url 'servicios' %}">Servicios de diseño vial y urbano</a></li>
        </ul>
      </div>
    </div>
    <!--Mensaje de introducción para que el usuario vizaulice  las subactegorias y productos  -->
    <div class="categoriaIntro">
      <div class="titulo">Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </div>
    </div>
    <!--Inicia el accordion-->
    <div class="container">
      <!--inicia el bucle el cual permite literar todas las subcategorías exitentes  -->
      {% for subcategoria in subcategorias %}
      <div class="accordion" id="accordionExample">
          <div class="accordion-item">
              <h2 class="accordion-header">
                <!--Muestra un componente del acordeón respecto a su ID-->
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse{{ subcategoria.id_subcategoria }}" aria-expanded="false"
                      aria-controls="collapse{{ subcategoria.id_subcategoria }}">
                      {{ subcategoria.nombre_subcategoria }}
                  </button>
              </h2>
              <!--Muetsra los productos existentes en la subacetgoría, al darle clic al botón-->
              <div class="accordion-collapse collapse " id="collapse{{ subcategoria.id_subcategoria }}"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <!--inicia el bucle el cual permite literar con todos los productos  de la subcategoría  -->
                      {% for producto in subcategoria.producto_set.all %}
                      <div class="accordion-body__item">
                          <div class="accordion-body__item-title">
                            <!--Muestra el nombre del producto respecto a su ID-->
                              <p>{{ producto.nombre_producto }}</p>
                          </div>
                          <div class="accordion-body__item-img">
                             <!--Muestra la imagen del producto respecto a su ID-->
                              {% if producto.imagen %}
                              <img src="data:image/png;base64,{{ producto.imagen|b64encode }}"
                                  alt="{{ producto.nombre_producto }}">
                              {% else %}
                              <p>No hay imagen disponible.</p>
                              {% endif %}
                          </div>
                          <div class="accordion-body__item-txt">
                             <!--Muestra la descripción del producto respecto a su ID-->
                              <p>{{ producto.extract}}</p>
                          </div>
                          <div class="accordion-body__item-link">
                             <!--Botón que al darle clic abre el modal de cotización especifico del producto seleccionado-->
                            <button class="btn-cotizacion btn btn-secundary" type="button" data-bs-toggle="modal" data-bs-target="#modalCotizacion1-{{ subcategoria.id_subcategoria }}-{{ producto.id_producto }}-{{ forloop.counter }}" >Cotizar</button>

                              <div class="modal-cotizacion">
                                <!--bucle recorre todos los productos de la subcategoria actual  -->
                                 {% for producto in subcategoria.producto_set.all %}
                                 <!--Permite mostrar infromacion especifica de cada prodcuto respecto a su id-->
                                 <div class="modal fade" id="modalCotizacion1-{{ subcategoria.id_subcategoria }}-{{ producto.id_producto }}-{{ forloop.counter }}"
                                 aria-hidden="true" aria-labelledby="modalCotizacion1-{{ subcategoria.id_subcategoria }}-{{ producto.id_producto }}-{{ forloop.counter }}Label" tabindex="-1">
                                  <!-- Contenido del modal -->
                                      <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                          <div class="modal-header modal-header-unico">
                                            <h5 class="modal-title" id="modalCotizacion-unicaLabel">SOLICITUD DE <br/><strong>COTIZACIÓN</strong></h5>
                                            <div class="modal-header-unico__detail">
                                              <!--Muestra la iamgen del producto y sus caracteristicas-->
                                              <div class="modal-header-unico__detail-img"><img src="data:image/png;base64,{{ producto.imagen|b64encode }}" alt="{{ producto.nombre_producto }}"></div>
                                              <div class="modal-header-unico__detail-txt">
                                                <p><strong>Clave:</strong> {{ producto.clave }}</p>
                                                <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
                                                <p><strong>Categoría:</strong> {{ categoria.nombre_categoria }}</p>
                                                <p><strong>Subcategoría:</strong> {{ subcategoria.nombre_subcategoria }}</p>
                                              </div>
                                            </div>
                                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                            <div class="content-form">
                                              <!--Inicia el formulario del modal para cotización por producto, con el id que es unico 
                                              este permite que se realice la solicitud de cotización-->
                                              <form id="CotizacionForm-{{ subcategoria.id_subcategoria }}-{{ producto.id_producto }}" method="POST" action="{% url 'create_cotizacionCategoria' %}">
                                                {% csrf_token %} <!--token de seguridad para prevendir ataques en el formulario-->
                                                <!--Formulario de la cotización-->
                                                <div class="form-floating mb-3">
                                                  <input class="form-control form-control-lg" placeholder="Ingrese su nombre completo" type="text"maxlength="70"  name="nombre_cliente" aria-describedby="emailHelp" maxlength="50" required="required" id="nombreCliente3"/>
                                                  <label for="nombreCliente3">Nombre Completo</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input class="form-control form-control-lg" type="tel" name="telefono" maxlength="10" aria-describedby="emailHelp" required="required" placeholder="Ingrese su télefono" id="telefono3"/>
                                                    <label for="telefono3">Teléfono a 10 dígitos</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input class="form-control form-control-lg" type="email" name="email" maxlength="50"  aria-describedby="emailHelp" placeholder="Email válido" id="email3"/>
                                                    <label for="email3">Email </label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input class="form-control form-control-lg" type="text" name="nombre_empresa" maxlength="50" aria-describedby="emailHelp" maxlength="50" placeholder="Nombre de la empresa" id="nombreEmpresa3"/>
                                                    <label for="nombreEmpresa3">Nombre de la empresa</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <textarea class="form-control form-control-lg" type="text" name="mensaje" aria-describedby="emailHelp" maxlength="200" placeholder="Ingrese su mensaje" id="mensaje3"></textarea>
                                                    <label for="mensaje3">Mensaje</label>
                                                </div>
                                               <!--Mostar mensajes de error por validación-->
                                                <div id="validation-error-container-modal-{{ subcategoria.id_subcategoria }}-{{ producto.id_producto }}"></div>
                                              </div>
                                              <div class="modal-body__buttons"> 
                                                <!--Botón que valida que los datos son ingresados correctamente, si es así envía los datos -->
                                                <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                                <button   onclick="validarYEnviarProducto('{{ subcategoria.id_subcategoria }}', '{{ producto.id_producto }}')" type="submit" type="button" class="btn btn-success" >Enviar</button>
                                              </div>
                                            </form>
                                            <!--Permite que muestre un mensaje de éxito  para el modal seleccionado, respecto a su id-->
                                            {% for producto in subcategoria.producto_set.all %}
                                              <div class="modal fade modalExito" id="modalExito-{{ subcategoria.id_subcategoria }}-{{ producto.id_producto }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">Solicitud</h5>
                                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                          </div>
                                                          <div class="modal-body">
                                                              <p class="mensajeExitoTexto"></p>
                                                          </div>
                                                          <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          {% endfor %}
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}  
  </div>
  <a class="whatsapp-float" href="https://wa.me/524492017176?text=Hola,%20quisiera%20más%20información%20sobre%20tus%20productos." target="_blank" rel="noopener noreferrer">
    <i class="bi bi-whatsapp"></i>
 </a> 
<script>
  // Esta función se manda llamar cuando se desea enviar datos en el formulario 
  function validarYEnviarProducto(id_subcategoria, id_producto) {
     // id del fromulario, se construye id  concatenando el fromulario y los id de subcategoria y producto
      var formularioId = 'CotizacionForm-' + id_subcategoria + '-' + id_producto;
      var formulario = document.getElementById(formularioId); //obtener del formulario
      if (!formulario || !(formulario instanceof HTMLFormElement)) {
        console.error('Error: Formulario no encontrado o no es de tipo HTMLFormElement');
        return false;
    }
      // Se incluye un token CSRF como medida de seguridad ya que se estan envando datos mediante ajax
      var formData = new FormData(formulario);
      formData.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);

      // AJAX 
      $.ajax({
          type: 'POST', //tipo de solicitud
          url: '{% url "create_cotizacionCategoria" %}', //url a donde se envian los datos del form
          data: formData, //datos del form
          processData: false,
          contentType: false,
          //Función que se ejecuta si es exitosa  la solicitud
          success: function (response) {
            //muestra mensajes en consola
             console.log('Respuesta del servidor:', response);

              if (response.success) {
                  // mensajes en consola.
                  console.log('Formulario enviado con éxito');
                  //muestra mensajes de éxito del modal
                  mostrarAlertas(response.messages,  id_subcategoria, id_producto); // Show success alerts
                  // Obtén el ID del producto y subcategoría actual
                    var subcategoriaId = response.id_subcategoria;
                    var productoId = response.id_producto;

                    // Construye los nombres de clases únicos
                    var modalExitoClass = '.modalExito';
                    var mensajeExitoTextoClass = '.mensajeExitoTexto';

                    // Modifica el contenido de la clase específica
                    $(mensajeExitoTextoClass).text(response.message);

                    // Muestra el modal de éxito específico
                    $(modalExitoClass).modal('show');
                    $(modalExitoClass).on('hidden.bs.modal', function () {
                        location.reload(true); // Recargar la página
                    });
              } else {
                  // Muestra los errores 
                  mostrarErrores(response.errors,  id_subcategoria, id_producto); // Show error alerts
                   // Mostrar mensaje de error en el DOM
                   $('#mensajeExito').hide();
                    $('#mensajeError').text(response.message).show();
              }
          },
          error: function (error) {
              console.error('Error en la solicitud AJAX:', error);
              console.error('Error al enviar la cotización', error);

                // Mostrar mensaje de error en el DOM
                $('#mensajeExito').hide();
                $('#mensajeError').text('Error al enviar la cotización').show();

            }
      });

      // Estas funcionan permiten que no  se recargue la pagina con los datos del fromulario
      event.preventDefault();
      event.stopPropagation();
      return false;
  }

  // Crea dinamicamente las alertas de cada campo del modal, respecto al id. Mensajes de exito
  function mostrarAlertas(messages,  id_subcategoria, id_producto) {
      var alertContainer = document.getElementById('validation-error-container-modal-' + id_subcategoria + '-' + id_producto);
      
      // Clear existing alerts
      alertContainer.innerHTML = '';

      if (messages && messages.length > 0) {
          messages.forEach(function (message) {
              var alertDiv = document.createElement('div');
              alertDiv.className = 'alert alert-success alert-dismissible fade show';
              alertDiv.setAttribute('role', 'alert');
              alertDiv.innerHTML = '<p>' + message + '</p>' +
                  '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
              alertContainer.appendChild(alertDiv);
          });
      }
  }

  // presenta los errores al usuario sin 
  function mostrarErrores(errors, id_subcategoria, id_producto) {
      var alertContainer = document.getElementById('validation-error-container-modal-' + id_subcategoria + '-' + id_producto);
      
      
      alertContainer.innerHTML = '';

      if (errors && Object.keys(errors).length > 0) {
          Object.keys(errors).forEach(function (field) {
              errors[field].forEach(function (errorMessage) {
                  var alertDiv = document.createElement('div');
                  alertDiv.className = 'alert alert-danger alert-dismissible fade show';
                  alertDiv.setAttribute('role', 'alert');
                  alertDiv.innerHTML = '<p>' + errorMessage + '</p>' +
                      '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                  alertContainer.appendChild(alertDiv);
              });
          });
      }
  }

</script>
{% endblock %}