{% extends 'base.html' %}<!--Heredar lo que tiene el archivo base.html-->
{% load static %}
{% block content%} 
    <div class="slideSemaforos slide">
      <div class="slide__box">
        <p>CATÁLOGO DE  </p>
        <p><strong>SEMAFOROS</strong></p>
        <div class="slide__box__link">
          <button class="slide-btn-cotizar floating" type="button" data-bs-toggle="modal" data-bs-target="#modalCotizacion-gral">Solicitar una cotizacion</button>
          <div class="modal-cotizacion">
            <div class="modal fade" id="modalCotizacion-gral" aria-hidden="true" aria-labelledby="modalCotizacion-gralLabel" tabindex="-1">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalCotizacion-gralLabel">SOLICITUD DE <br/><strong>COTIZACIÓN</strong></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="content-form">
                      <form id="CotizacionForm" method="POST" action="{% url 'create_cotizacionCategoria' %}">
                        {% csrf_token %} 
                        <div class="form-floating mb-3">
                          <input class="form-control form-control-lg" placeholder="Ingrese su nombre completo" type="text" name="nombre_cliente" aria-describedby="emailHelp" maxlength="50" required="required" id="nombreCliente"/>
                          <label for="nombreCliente">Nombre Completo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control form-control-lg" type="tel" name="telefono" maxlength="10" aria-describedby="emailHelp" required="required" placeholder="Ingrese su télefono" id="telefono1"/>
                            <label for="telefono1">Teléfono a 10 dígitos</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control form-control-lg" type="email" name="email" aria-describedby="emailHelp" placeholder="Email válido" id="email1"/>
                            <label for="email1">Email </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control form-control-lg" type="text" name="nombre_empresa" aria-describedby="emailHelp" maxlength="50" placeholder="Nombre de la empresa" id="nombreEmpresa"/>
                            <label for="nombreEmpresa">Nombre de la empresa</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control form-control-lg" type="text" name="mensaje" aria-describedby="emailHelp" maxlength="200" placeholder="Ingrese su mensaje" id="mensaje1"></textarea>
                            <label for="mensaje1">Mensaje</label>
                        </div>
                        <!--Muestra los errores de validacion, mediante alertas.-->
                        <div id="alert-container"></div>
                      </div>
                    <div class="modal-body__buttons"> 
                      <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                      <button  type="button" class="btn btn-success" onclick="validarYEnviar()" >Enviar</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Solicitud </h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">Cotización realizada con exito!</div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="link-categorias">
      <p>Consulta otra categoría</p>
      <div class="dropdown"><a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'semaforos' %}">Semáforos</a><a class="dropdown-item" href="{% url 'postes' %}">Postes</a><a class="dropdown-item" href="{% url 'senalamientos' %}">Señalamientos</a><a class="dropdown-item" href="{% url 'complementos' %}">Complementos viales</a><a class="dropdown-item" href="{% url 'servicios' %}">Servicios de diseño vial y urbano</a></li>
        </ul>
      </div>
    </div>
    <div class="categoriaIntro">
      <div class="titulo">Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </div>
    </div>
    <div class="container">
      {% for subcategoria in subcategorias %}
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ subcategoria.id_subcategoria }}" aria-expanded="false" aria-controls="collapse{{ subcategoria.id_subcategoria }}"> 
               {{ subcategoria.nombre_subcategoria }}
            </button>
          </h2>
          <div class="accordion-collapse collapse " id="collapse{{ subcategoria.id_subcategoria }}" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="accordion-body__item">
                <div class="accordion-body__item-title">
                  <p>titulo</p>
                </div>
                <div class="accordion-body__item-img"><img src="images/Productos/Semaforos/Semaforo vehicular/6.jpg" alt="imagen del producto" srcset=""/></div>
                <div class="accordion-body__item-txt">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cum aut beatae</p>
                </div>
                <div class="accordion-body__item-link">
                  <button class="btn-cotizacion btn btn-secundary" type="button" data-bs-toggle="modal" data-bs-target="#modalCotizacion-unica">Cotizar</button>
                  <div class="modal-cotizacion">
                    <div class="modal fade" id="modalCotizacion-unica" aria-hidden="true" aria-labelledby="modalCotizacion-unicaLabel" tabindex="-1">
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header modal-header-unico">
                            <h5 class="modal-title" id="modalCotizacion-unicaLabel">SOLICITUD DE <br/><strong>COTIZACIÓN</strong></h5>
                            <div class="modal-header-unico__detail">
                              <div class="modal-header-unico__detail-img"><img src="images/Productos/Semaforos/Semaforo vehicular/7.jpg" alt="imagen del producto" srcset=""/></div>
                              <div class="modal-header-unico__detail-txt">
                                <p><strong>ID:</strong> B103</p>
                                <p><strong>Descripción:</strong> Descripción del Producto</p>
                                <p><strong>Categoría:</strong> Categoría del Producto</p>
                                <p><strong>Subcategoría:</strong> Subcategoría del Producto</p>
                              </div>
                            </div>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="content-form">
                              <form action="">
                                <div class="form-floating mb-3">
                                  <input class="form-control form-control-lg" placeholder="Ingrese su nombre completo" type="number" name="nombre" aria-describedby="emailHelp" min="1" max="1000000" required="required" id="inputCantidad"/>
                                  <label for="inputCantidad">Cantidad</label>
                                </div>
                                <div class="form-floating mb-3">
                                  <input class="form-control form-control-lg" placeholder="Ingrese su nombre completo" type="text" name="nombre" aria-describedby="emailHelp" maxlength="40" required="required" id="nombreCliente"/>
                                  <label for="nombreCliente">Nombre Completo</label>
                                </div>
                                <div class="form-floating mb-3">
                                  <input class="form-control form-control-lg" type="tel" name="telefono" maxlength="10" aria-describedby="emailHelp" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required="required" placeholder="Ingrese su télefono" id="exampleInputEmail1"/>
                                  <label for="exampleInputEmail1">Teléfono a 10 dígitos</label>
                                </div>
                                <div class="form-floating mb-3">
                                  <input class="form-control form-control-lg" type="email" name="email" aria-describedby="emailHelp" placeholder="Email válido" id="exampleInputEmail1"/>
                                  <label for="exampleInputEmail1">Email </label>
                                </div>
                                <div class="form-floating mb-3">
                                  <input class="form-control form-control-lg" type="text" name="nombre_empresa" aria-describedby="emailHelp" placeholder="Nombre de la empresa" id="exampleInputEmail1"/>
                                  <label for="exampleInputEmail1">Nombre de la empresa</label>
                                </div>
                                <div class="form-floating mb-3">
                                  <textarea class="form-control form-control-lg" type="text" name="mensaje" aria-describedby="emailHelp" placeholder="Ingrese su mensaje" id="exampleInputEmail1"></textarea>
                                  <label for="exampleInputEmail1">Mensaje</label>
                                </div>
                              </form>
                            </div>
                            <div class="modal-body__buttons"> 
                              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                              <button class="btn btn-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Enviar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Solicitud </h5>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">Cotización realizada con exito!</div>
                          <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <script>
      function mostrarAlerta(tipo, mensajes) {
          // Crear elemento de alerta de Bootstrap
          var alerta = document.createElement('div');
          alerta.className = 'alert alert-' + tipo + ' alert-dismissible fade show';
          
          // Agregar mensajes de error al contenido de la alerta
          mensajes.forEach(function(mensaje) {
              alerta.innerHTML +=  mensaje + '<br>' ;
          });
          // Agregar el botón de cierre a la alerta
          //alerta.innerHTML += '<button type="button" class="close" data-dismiss="alert">&times;</button>';
    
          // Agregar la alerta al contenedor
          document.getElementById('alert-container').appendChild(alerta);
      }
      function mostrarExito() {
        // Mostrar mensaje de éxito
        mostrarAlerta('success', ['Formulario enviado con éxito']);
    }
      
      function validarYEnviar() {
          // Lógica de validación...
          var errores = [];
          // Lógica de validación adicional si es necesario
          var telefono = document.getElementById('telefono1').value;
          var nombreCliente = document.getElementById('nombreCliente').value;
          var nombreEmpresa = document.getElementById('nombreEmpresa').value;
          var email = document.getElementById('email1').value;
          var mensaje = document.getElementById('mensaje1').value;
    
          // Ejemplo de uso de mostrarAlerta
          if (!/^\+?1?\d{9,15}$/.test(telefono)) {
              errores.push('Ingrese un número de teléfono válido');
          }
          if (!/^[a-zA-Z\s]+$/.test(nombreCliente)) {
              errores.push('El nombre del cliente debe contener solo letras o espacios.');
          }
          if (!/^[a-zA-Z0-9\s]+$/.test(nombreEmpresa)) {
              errores.push('El nombre de la empresa solo puede contener letras y números.');
          }
          if (!/\S+@\S+\.\S+/.test(email)) {
              errores.push('Ingrese una dirección de correo electrónico válida.');
          }
          if (!/^[a-zA-Z\s\.,\'"-]+$/.test(mensaje)) {
              errores.push('El mensaje debe contener solo letras, espacios y caracteres permitidos.');
          }
    
          // Mostrar alerta con errores si los hay
          if (errores.length > 0) {
              mostrarAlerta('danger', errores);
          } else {
              // Enviar el formulario si la validación es exitosa
              document.getElementById('CotizacionForm').submit();
                // Mostrar mensaje de éxito
              mostrarAlerta('success', ['Formulario enviado con éxito']);
          
          }
      }
    </script>
    {% endblock %}